body{
    background: url("../img/background.jpg");
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: white;
}
.body{
    padding: 1vw;
    margin: 1vw auto;
    max-width: 1000px;
    display: block;
    border: 1px solid black;
    border-radius: 1vw;
    background: linear-gradient(to bottom, #01BABA, #2CD57C);
}
.clear{
    clear: both;
    visibility: hidden;
}
.hidden{
    visibility: hidden;
}
.msg{
    width: 75vw;
    margin: 0 auto;
    font-size: 1.5vw;
}

/**
====  Header
**/
header{
    margin: 0 auto;
    max-width: 75vw;
    width: 100%;
}
.logo{
    width: 30vw;
    border-radius: 1vw;
}
.head button{
    margin: 0 auto;
    width: 10vw;
    height: 3vw;
    border-radius: 1vw;
    background-color: #00BABC;
}
.panier{
    float: right;
}
.logo-panier{
    width: 50px;
}

nav ul{
    margin: 0 auto;
    padding: 0;
}
nav ul li{
    display: inline-block;
    list-style: none;
    max-width: 24vw;
    width: 100%;
    height: 4vw;
    background-color: #00BABC;
    text-align: center;
    padding-top: 1vw;
    border-radius: 1vw;
}
nav ul li a{
    font-size: 2vw;
}
nav ul li a:hover{
    color: white;
}

#menu-deroulant ul{
    position: absolute;
    left: -999em;
    text-align: left;
    z-index: 1000;
}
#menu-deroulant li:hover ul{
    left: auto;
    margin-top: 10px;
}


/**
====  Home
**/
.article{
	max-width: 306px;
	width: 28vw;
	border: 2px solid rgb(53, 53, 59);
	display: inline-block;
}
.article-img{
	max-width: 100%;
	max-height: 100%;
	margin-left: 4vw;
	font-size: 2vw;
	border: 1px solid rgb(53, 53, 59);
	display: block;

}
.article-footer{
	width:100%;

	margin-bottom:1vw;
	display: block;
}
.framestuhomecart{
    background-color: rgb(53, 53, 59);
    color: white;
	font-size: 2vw;
	display: block;
	width: 100%;
	height: 4vw;
	text-align: center;
	padding-top: 1.5vw;
}


/**
====  All Students
**/
.all-students{
    margin: 0 auto;
    max-width: 75vw;
    width: 100%;
}
.all-students td{
    border-right: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    text-align: center;
}
.all-students td:last-child{
    border-right: none;
}
.all-students img{
    max-width: 60px;
}
.all-students p{
    margin: 0;
}
