a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: white;
}
header{
    margin: 1vw auto;
    max-width: 1000px;
}
.body{
	padding: 1vw;
    margin: 1vw auto;
	max-width: 1000px;
	display: block;
	border: 1px solid black;
	border-radius: 1vw;
	background: linear-gradient(to bottom, #01BABA, #2CD57C);
}
.framestuhome{
	padding: 1vw;
	width: 32vw;
	height: 48vw;
	border: 1px solid black;
}
#framestuhomeimg{
	font-size: 2vw;
	border: 1px solid black;
	width: 32vw;
	height: 32vw;
	margin-bottom:1vw;
}
.framestuhomeinfoblock{
	height:4vw;
	border:1px solid black;
	width:30vw;
	height: 4.5vw;
	margin-bottom:1vw;
	padding: 1vw;
}
.framestuhomeinfo{
	font-size: 2vw;
	border: 1px solid black;
	width: 14.5vw;
	height: 4.5vw;
	display: inline-block;
}
#framestuhomecart{
	font-size: 2vw;
	display: inherit;
	border: 1px solid black;
	width:32vw;
	height: 6.5vw;
}
.logo{
    width: 30vw;
    border-radius: 1vw;
}
.head button{
    margin: 0 auto;
    width: 10vw;
    height: 3vw;
    border-radius: 1vw;
    background-color: #00BABC;
}

.panier{
    float: right;
}
.logo-panier{
    width: 50px;
}
.clear{
    clear: both;
    visibility: hidden;
}
nav ul{
    margin: 0 auto;
    padding: 0;
}
nav ul li{
    display: inline-block;
    list-style: none;
    width: 31vw;
    height: 4vw;
    background-color: #00BABC;
    text-align: center;
    padding-top: 1vw;
    border-radius: 1vw;
}
nav ul li a{
    font-size: 2vw;
}
nav ul li a:hover{
    color: white;
}
